<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kg.tutorialapp.mystudy">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyStudy">
        <activity android:name=".Activity_38"></activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LessonActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ActivityA"
            android:launchMode="singleTask"
            android:parentActivityName=".LessonActivity" />
        <activity
            android:name=".ActivityB"
            android:parentActivityName=".LessonActivity" />
        <activity
            android:name=".ActivityC"
            android:parentActivityName=".LessonActivity" />
        <activity
            android:name=".GesturesActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ActivityD"
            android:launchMode="singleTop"
            android:parentActivityName=".LessonActivity" />
        <activity
            android:name=".Activity_36_4"
            android:parentActivityName=".FragmentActivity" />
        <activity
            android:name=".Activity_36_3"
            android:parentActivityName=".FragmentActivity" />
        <activity
            android:name=".Activity_36_2"
            android:parentActivityName=".FragmentActivity" />
        <activity
            android:name=".PosterActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".FragmentActivity"
            android:parentActivityName=".LessonActivity" />
        <activity
            android:name=".ActivitySecondHw_37"
            android:parentActivityName=".Activity_HW37"></activity>
        <activity
            android:name=".Activity_HW37"
            android:parentActivityName=".MainActivity"></activity>
        <activity
            android:name=".ActivityArguments_37"
            android:parentActivityName=".LessonActivity"></activity>
    </application>

</manifest>